input[type="text"]::placeholder {  
    text-align: left; 
    color: rgb(206, 198, 198);

} 
.learningField{
    text-align: left;
    border: none;
    color: rgb(206, 198, 198);
}
.selectcitySearchbar{
    text-align: left;
    border: none;
    color: rgb(206, 198, 198);
}
button{
    color: white;
    border: none;
    background-color: rgb(28,133,200);
}
.searchBtnGroup{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),  
}

@media (max-width: 575px) { 
    .learningField{
        border-bottom: solid 1px rgb(219, 209, 209);
    }
    .selectcitySearchbar{
        border-top: solid 1px rgb(219, 209, 209);
    }
}
@media (min-width: 576px) { 
    .learningField{
        border: none;

        border-bottom: solid 1px rgb(219, 209, 209);
    }
    .selectcitySearchbar{
        border: none;

        border-top: solid 1px rgb(219, 209, 209);
    }
}
@media (min-width: 768px) {
    .learningField{
        border: none;

        border-right: solid 1px rgb(219, 209, 209);
    }
    .selectcitySearchbar{
        border: none;
        border-left: solid 1px rgb(219, 209, 209);
    }
}

@media (min-width: 992px) { 
    .learningField{
        border: none;

    border-right: solid 1px rgb(219, 209, 209);
    }
    .selectcitySearchbar{
        border: none;

        border-left: solid 1px rgb(219, 209, 209);
    }

}


@media (min-width: 1200px) { 
    .learningField{
        border: none;
        border-right: solid 1px rgb(241, 236, 236);
    }
    .selectcitySearchbar{
        border: none;

        border-left: solid 1px rgb(219, 209, 209);
    }
}